{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class ="jumbotron text-center">
            <h1> Bienvenue sur DungeonRush !</h1>
        </div>
    </div>

{% endblock body %}