{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class ="jumbotron text-center">
            <h1> Bienvenue sur DungeonRush !</h1>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <p>user authenticated</p>
             {% else %}
                 <br>
                 <p> Connectez-vous où inscrivez-vous pour jouer à DungeonRush !</p>
            {% endif %}
        </div>
    </div>

{% endblock body %}