{% extends 'base.html.twig' %}


{% block body %}

    <h1>Modifier une classe de charactère</h1>

    {{ form_start(formModifyClass) }}
    <div class="form-group">
        <label for="">Nom</label>
        {{ form_widget(formModifyClass.name) }}
    </div>

    <div class="form-group">
        <label for="">description</label>
        {{ form_widget(formModifyClass.description) }}
    </div>
    <button type="submit" class="btn btn-success">Modifier !</button>
    {{ form_end(formModifyClass) }}

{% endblock %}