{% extends 'base.html.twig' %}

{% block title 'Inscription' %}
{% block body %}
    <div class="container">
        <div class ="jumbotron text-center">
            <h1> Inscription </h1>
            <p> bloubloublou </p>
        </div>
    </div>


{% endblock body %}