{% extends 'base.html.twig' %}
{% block title 'Les monstres' %}
{% block body %}
    <div class="container">
        <div class ="jumbotron text-center">
            <h1> Caca prout</h1>
            <p> Blabloubli</p>
        </div>
    </div>
{% endblock body %}