{% extends 'base.html.twig' %}
{% block title 'Les classes' %}
{% block body %}
    <div class="container mt-4">
        <div>
            <h1> La liste des classes</h1>
        </div>
    </div>

    <div class="container">
        <div class="div row flex">
            {% for characterclass in characterclasses %}
                {% set imageClass = 'build/images/' ~ characterclass.name|lower ~ '.png' %}
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="{{asset(imageClass)}}"  alt="Image Class" style="height: 380px">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="#"> {{ characterclass.name }}</a>
                                </h5>
                                <p class ="card-text"> {{ characterclass.description }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}