
{% extends 'pages/baseInGame.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class = "jumbotron-heading"> Voici les armes disponibles !</h1>
        <div class="div row flex">
            {% for weapon in Weapons %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a> {{ weapon.name }}</a>
                            </h5>
                        </div>
                        <a href="{{ path('editWeapon', {'id': weapon.id}) }}" class="btn btn-primary">Modifier</a><br>
                        <a href="{{ path('deleteWeapon', {'id': weapon.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}